// Variables

primary_color = #03A9F4
primary_color--dark = #0288D1
primary_color--light = #B3E5FC
color-text-icon = #fff
accent_color = #FF5252
primary--text = #212121
secundary--text = #727272
divider--color = #B6B6B6
bg-color = #F5F5F5



// Media

b1 = 30em // 480px
b2 = 48em // 768px
b3 = 64em // 1024px
b4 = 75em // 1200px