.max-width
    width 100%
    max-width 1200px
    padding 10px
    margin-left auto
    margin-right auto
    overflow hidden
    box-sizing border-box

.img-responsive
    width 100%
    max-width 100%
    height auto

.list-none
    list-style-type none

.sin-margin
    margin 0
    padding 0


// alineaciones

.text
    &-center
        text-align center
    &-left
        text-align left
    &-right
        text-align: right
    &-justify
        text-align justify

// color Background

.bg
    &--azul
        background-color azul
    &--gris-light
        background-color gris_light
    &--gris-medium
        background-color gris_medium
    &--gris-dark
        background-color gris_dark

