.btn
    display block
    width 100%
    text-decoration none
    padding 0.5em 0
    &--submit
        background-color rojo
        color blanco
        text-align center
        font-size 2em
        border 0
        +above(b3)
            absolute top 40% right 5%
            width 100px
            border-radius 50%
            padding 1em 0
    &--secundary
        border-radius 50%
        background-color rojo
        width 70px
        height 70px
        overflow hidden
        text-align center
        font-size 1.2em
        color blanco
        line-height 1
        margin-left auto
        margin-right auto
        margi-bottom 1em
    +above(b2)
        &--bubble
            width 100%
            padding 3em 0.5em
            border-radius 50%
            overflow hidden
            font-family kaushanscript-regular-webfont
            font-size 1.3em


