.btn
    display block
    width 100%
    text-decoration none
    padding 0.5em 0
    &--submit
        background-color rojo
        color blanco
        text-align center
        font-size 2em
        border 0
        +above(b3)
            absolute top 40% right 5%
            width 100px
            border-radius 50%
            padding 1em 0
    &--secundary
        border-radius 50%
        background-color rojo
        width 70px
        height 70px
        overflow hidden
        text-align center
        font-size 1.2em
        color blanco
        line-height 1
        margin-left auto
        margin-right auto
        margi-bottom 1em
    +above(b2)
        &--bubble
            background-image url("img/btn--bubble.png")
            background-color transparent
            background-repeat no-repeat
            width 222px
            height 178px
            line-height 178px
            overflow hidden
            font-family kaushanscript-regular-webfont
            font-size 1.5em
            padding 0 0.8em
    +above(b3)
        &--bubble
            background-size 100% 90%
            line-height 145px
            padding 0 1em 0 0.2em
            relative top left
            float right
            width 42%
    +above(b4)
        &--bubble
            width 222px
            height 178px
            background-size 100% 100%
            padding 0 2.8em
            box-sizing border-box
            line-height 178px



