.btn
    display block
    width 100%
    text-decoration none
    padding 0.5em 0
    &--submit
        background-color rojo
        color blanco
        text-align center
        font-size 2em
        border 0
        +above(b3)
            absolute top 40% right 5%
            width 100px
            border-radius 50%
            padding 1em 0
    &--secundary
        center-block(120px)

    &--bubble
        absolute top left
        height auto
        font-family kaushanscript-regular-webfont
        box-sizing border-box
        +above(b2)
            background-image url("img/btn--bubble.png")
            background-color transparent
            background-repeat no-repeat
            width 222px
            height 178px
            line-height 178px
            overflow hidden
            font-family kaushanscript-regular-webfont
            font-size 1.8em
            padding 0 1.8em
            relative top right

        +above(b3)
            background-size 100% 90%
            line-height 145px
            padding 0 1em 0 1.5em
            relative top left
            float right
            width 42%
            font-size 1.5em
        +above(b4)
            width 222px
            height 178px
            background-size 100% 100%
            padding 0 2.8em

            line-height 178px



