::-moz-selection
  background azul
  text-shadow none
  color blanco

::selection
  background azul
  text-shadow none
  color blanco

html
  color primary_text
  font-size 1em
  line-height 1.4
  font-family lora-regular-webfont
  background-color azul
  font-weight normal

hr
  display block
  height 1px
  border 0
  border-top 1px solid gris_dark
  margin 1em 0
  padding 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

textarea
  resize vertical

.bubble
  p
    font-size 1.75em
    font-family kaushanscript-regular-webfont

  &__right
    relative top left
    height 400px
  &__center
    background-image url("img/bg_header.png")
    background-size cover
    background-position center top
    background-repeat no-repeat
    height 300px
    overflow hidden
    padding 0
    absolute left top 19%
    width 100%
    figure
      center-block(265px)
    +above(b2)
      background-image none
      padding 0
      float left
      width 60%
      height auto
      figure
        width 130px
    +above(b3)
      width 50%
      figure
        width 100%
        max-width 200px
  &__left
    h2
      span
        display block

  +above(b2)
    position relative
    &__left
      background-image url("img/bubble__left_tablet.png")
      background-repeat no-repeat
      width 674px
      height 472px
      h2
        padding 1.8em 3em 0
        font-size 2.5em
      p
        font-size 1.5em
        padding 0 2em 1em
      +above(b3)
        background-image url("img/bubble__left_pc.png")
        background-size 100% 100%
        display-inline-block()
        width 58%
        h2
          padding 2em 4em .5em 2em
          margin 0
        p
          padding 0 4em 0.5em 0.2em
          font-size: 1.3em
          center-block(60%)
          margin-top 0
          margin-bottom 0
      +above(b4)
        width 611px
        height 371px
        h2
          padding 1.5em 3em .2em 2em
        p
          padding 0 3em 0 1em
    &__right
      overflow hidden
      +above(b3)
        display-inline-block()
        width 40%
        margin-top 1em
      +above(b4)
        width calc(98% - 611px)

.browserupgrade
  margin 0.2em 0
  background primary_color--dark
  color rojo
  padding 0.2em 0

.contact
  relative left top
  &-right
    relative left top
  &__image
    height 267px
    overflow hidden
    figure
      center-block(260px)
  +above(b2)
    center-block(768px)
    &__form
      position relative
      height 900px
    &__image
      absolute top left 15%
      height 440px
    &__information
      absolute top 100px right 10%
      width 300px
    &__formulario
      absolute bottom left
      width 100%
  +above(b3)
    center-block(92%)
    &__form
      height auto
    &-right
      float right
      width 67%
      text-align: left
      margin-left 15px
    &__image
      relative top left
      float left
    &__information
      relative top right
      width 100%
      p
        margin 0
        width 100%
    &__formulario
      relative bottom right
      width 100%
      overflow hidden

.footer
  margin-top 1em
  padding 1em 0
  background-color gris_dark
  &:before
    content " "
    background-image url("img/footer.png")
    background-repeat repeat-x
    display block
    height 35px
    margin-top -30px

  figure
    center-block(305px)

.header
 background-color gris_light
 &__top
   padding 2.5em 0 1em
   +above(b1)
    padding 1em
 &__bottom
   padding 1em 0
   background-color azul
   +above(b2)
    center-block(768px)
    background-color transparent
   +above(b3)
    width 100%
    margin 0
   +above(b4)
    center-block(1140px)
 +above(b3)
  background-image url("img/bg_header.png")
  z-index 1
  relative top left
  background-size cover
  background-position center center
  background-repeat no-repeat

.logo
  overflow hidden
  width 260px
  margin-left 6px
  +above(b2)
    margin 0.1em 0 0 1em
    float left
  +above(b4)
    margin-top 0.2em

.offers
  background-color #ECECEC
  &__item
    border gris_dark
    background-color blanco
    border-radius 0 0 1em 1em
    margin-bottom 1em
    center-block(98%)
    li
      padding 0.5em 0
      box-sizing border-box
    +above(b2)
      display-inline-block()
      height 300px

.portfolio
  background-color #DFDFDF
  &__box
    display none
    +above(b2)
      display block
      padding 1em
  +above(b2)
    &__item
      display-inline-block()
      width 45%
      margin 0.5em
      max-width 345px
  +above(b3)
    &__item
      max-width 22.4%
  +above(b4)
    &__item
      max-width 240px
  &__testimonials
    width 97%
    margin 0 auto 0.5em
    padding-bottom 1em
    &-item
      background-color gris_dark
      color blanco
      font-size 0.8em
      padding 0.5em 1em
      margin 1em 0
      text-align: left
    +above(b1)
      &-item
        margin 0 0 1em 0
        figure,
        p
          display-inline-block()
        figure
          margin-right 0.5em
          width 200px
        p
          width 50%
          font-size 1.2em
          margin 0
    +above(b2)
      &-item
        display-inline-block()
        width 41%
        margin 0 0.5em
        figure
          width 40%
          margin-right 0.3em

        p
          font-size 0.91em
          width 57%
    +above(b3)
      &-item
        width 44.4%
        figure
          width 25%
          padding 1em
        p
          font-size 1.2em
          padding-top 0.5em
          width 63%
    +above(b4)
      &-item
        width 36.4%
        p
          font-size 1.08em
          padding-top 0.7em

.services
  overflow hidden
  &__information
    margin-bottom 3em

  &__image
    margin 1em 0 2em
    figure
      center-block(220px)
      +above(b2)
        width 490px
        height 300px
  +above(b3)
    &__information
      float right
      width 60%
      p
        text-align left
    &__image
      float left
      width 33%
      margin 1em
      overflow hidden
      height 440px
      figure
        center-block(345px)

.title
  margin 0.2em 0
  font-family kaushanscript-regular-webfont
  &--main
    font-size 2.8em
    font-weight normal
    line-height 1.2
  &--offers
    color blanco
    background linear-gradient(left, 40% #F9AE00, #F39200)

.nav
  &__main
    position relative
    &-toggle
      background-color gris_light
      border 0
      color gris_dark
      cursor pointer
      font-size 1em
      height 40px
      padding 10px
      position absolute
      right 0
      top -50px
      width 50px

      &--bar
        background gris_dark
        display block
        height 2px
        transition 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55)
        width 98%
        & + .nav__main-toggle--bar
            margin-top 7px
      &--active
          top -63px
          width 40px
          height 30px
          right 15px
          .nav__main-toggle--bar
              margin 0
              position absolute
              &:nth-child(1)
                  transform: rotate(45deg);
              &:nth-child(2)
                  opacity 0
              &:nth-child(3)
                  transform: rotate(-45deg);
    &-list
      background amarillo
      display none
      list-style none
      margin 0 0 10px
      padding 0
      position relative
      width 100%
      li
          border-bottom 1px solid azul
          border-right 0
          width 100%
          &:last-child
              border 0
          &:first-child
              a:after
                  border 6px solid transparent
                  border-bottom-color rojo
                  border-top 0
                  content ''
                  height 0
                  position absolute
                  right 1em
                  top -6px
                  width 0
          a
              color gris_dark
              display block
              font-family kaushanscript-regular-webfont
              font-size 1.3em
              padding: 8px 0;
              text-align center
              text-decoration none
              transition all .3s ease-in
              width: 100%;

              &:hover
                  background-color rojo
                  color blanco
      li.current-menu-item
        a
          background-color rojo
          border-color gris_dark
          color blanco

      &--open
          display block !important
          margin-top 1em !important
          .header__bottom--navegation
              &__child
                  display block
+above(b2)
  .nav
    &__main
      float right
      width calc(100%-150px)
      margin-top 1em
      &-toggle
        display none
      &-list
        background transparent
        display block
        li
          border 0
          display-inline-block()
          width auto
          overflow hidden
          &:first-child
              a:after
                  display none
          a
            color color-text-icon
            font-size 1.2em
            border-bottom 1px solid color-text-icon
            margin 0.5em 0.2em
            display block
            box-sizing border-box
            width 100px
            &:hover
              border-bottom 1px solid accent_color




