html
  color primary_text
  font-size 1em
  line-height 1.4
  font-family kaushanscript-regular-webfont
  background-color azul

::-moz-selection
  background azul
  text-shadow none
  color blanco

::selection
  background azul
  text-shadow none
  color blanco

hr
  display block
  height 1px
  border 0
  border-top 1px solid gris_dark
  margin 1em 0
  padding 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

textarea
  resize vertical

.browserupgrade
  margin 0.2em 0
  background primary_color--dark
  color rojo
  padding 0.2em 0


.header
 background-color gris_light


.hidden
  display none

.logo
  overflow hidden
  width 323px

@media screen and (min-width:b2)

  .logo
    margin 0.1em 0 0 1em
    float left

@media screen and (min-width:b4)

  .logo
    margin-top 0.2em



.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.invisible
  visibility hidden


.nav
  &__main
    position relative
    &-toggle
      background-color gris_light
      border 0
      color gris_dark
      cursor pointer
      font-size 1em
      height 40px
      padding 10px
      position absolute
      right 15px
      top -70px
      width 60px
      &--bar
        background gris_dark
        display block
        height 2px
        transition 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55)
        width 98%
        & + .nav__main-toggle--bar
            margin-top 7px
      &--active
          .nav__main-toggle--bar
              margin 0
              position absolute
              &:nth-child(1)
                  transform: rotate(45deg);
              &:nth-child(2)
                  opacity 0
              &:nth-child(3)
                  transform: rotate(-45deg);


    &-list
      background rojo
      display none
      list-style none
      margin 0 0 10px
      padding 0
      position relative
      width 100%
      li
          border-bottom 1px solid amarillo
          border-right 0
          width 100%
          &:last-child
              border 0
          &:first-child
              a:after
                  border 6px solid transparent
                  border-bottom-color blanco
                  border-top 0
                  content ''
                  height 0
                  position absolute
                  right 1em
                  top -6px
                  width 0
          a
              color primary_text
              display block
              font-family kaushanscript-regular-webfont
              font-size 1.3em
              padding: 8px 0;
              text-align center
              text-decoration none
              transition all .3s ease-in
              width: 100%;
              &:hover
                  background-color gris_light






      li.current-menu-item
        a
          background-color amarillo
          border-color gris_dark--light
          color blanco

      &--open
          display block !important
          .header__bottom--navegation
              &__child
                  display block

@media screen and (min-width:b2)

  .nav
    &__main
      float right
      width calc(100%-150px)
      margin-top 1em
      &-toggle
        display none
      &-list
        background transparent
        display block
        li
          border 0
          display-inline-block()
          width auto
          overflow hidden
          &:first-child
              a:after
                  display none
          a
            color color-text-icon
            font-size 1.2em
            border-bottom 1px solid color-text-icon
            margin 0.5em 0.2em
            display block
            box-sizing border-box
            width 100px
            &:hover
              border-bottom 1px solid accent_color




