::-moz-selection
  background azul
  color blanco
  text-shadow none

::selection
  background azul
  color blanco
  text-shadow none

html
  background-color azul
  color primary_text
  font-family lora-regular-webfont
  font-size 1em
  font-weight normal
  line-height 1.4

hr
  border 0
  border-top 1px solid gris_dark
  display block
  height 1px
  margin 1em 0
  padding 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

textarea
  resize vertical

.bubble
  p
    font-family kaushanscript-regular-webfont
  &__right
    height 360px
    relative top left

    +above(b2)
      background-image url("img/bg_header_tablet.png")
      background-repeat no-repeat
      background-size 100% 100%
      height 380px
      overflow hidden
    +above(b3)
      background-image none
      display-inline-block()
      margin-top 1em
      width 40%
    +above(b4)
      width calc(98% - 611px)
  &__center
    absolute left top 19%
    background-image url("img/bg_header_movil.png")
    background-position center top
    background-repeat no-repeat
    background-size cover
    height 285px
    overflow hidden
    padding 0
    width 100%
    figure
      center-block(265px)
      margin-top 1.8em
    +above(b2)
      background-image none
      float left
      height auto
      padding 0
      relative top -28px left 35px
      width 60%

      figure
        width 130px

    +above(b3)
      width 50%
      figure
        max-width 200px
        width 100%
  &__left
    width 98%

    span
      display block

    +above(b2)
      background-image url("img/bubble__left_tablet.png")
      background-repeat no-repeat
      height 472px
      padding 0
      position relative
      width 674px
      h2
        font-size 2.5em
        padding 1.5em 3em 0
      span
        display inline
      p
        center-block(70%)
        font-size 1.55em
        margin-top 0.8em
        padding 0 2em 1em
      &--notimage
        background-image none
        height auto
        h2
          font-size 4em
          padding 0.5em 1em 0
        p
          center-block(87.5%)
    +above(b3)
      background-image url("img/bubble__left_pc.png")
      background-size 100% 100%
      display-inline-block()
      width 58%
      h2
        margin 0
        padding 2em 4em .5em 2em
      p
        center-block(60%)
        font-size: 1.3em
        margin-bottom 0
        margin-top 0
        padding 0 4em 0.5em 0.2em
      &--notimage
        background-image none
        h2
          font-size 3.5em
          padding 0.5em 1em
        p
          width 60%
    +above(b4)
      height 371px
      width 611px
      h2
        padding 1.5em 3em .2em 2em
      p
        padding 0 3em 0 1em
      &--notimage
        h2
          padding 0.2em
          font-size 4.5em
        p
          font-size 1.5em
          padding 0 1em
          width 70%
  &--max
    center-block(100%)
    max-width 1200px

.contact
  relative left top
  &__formulario
    relative left top
  &-right
    relative left top
  &__image
    height 267px
    margin-top 5em
    overflow hidden
    relative left
    z-index -1
    figure
      center-block(260px)
  +above(b2)
    center-block(768px)
    &__form
      height 900px
      position relative
    &__image
      absolute top left 15%
      height auto
      margin-top 1em
    &__information
      absolute top 83px right 10%
      width 280px
    &__formulario
      absolute bottom left
      height 450px
      top auto
      width 100%
  +above(b3)
    center-block(92%)
    &__form
      height auto
      margin-bottom 2.8em
    &-right
      float right
      margin-left 15px
      text-align: left
      width 67%
    &__image
      float left
      relative top left .5em
    &__information
      relative top right
      width 90%
      p
        margin 1em 0
        width 100%
    &__formulario
      height auto
      overflow hidden
      relative bottom right
      width 100%

.footer
  background-color gris_dark
  margin-top -1em
  padding 1em 0
  &:before
    background-image url("img/footer.png")
    background-repeat repeat-x
    content " "
    display block
    height 35px
    margin-top -30px

  figure
    center-block(305px)

.header
 background-color gris_light
 &__top
   padding 0.5em
   +above(b1)
    padding 1em 1em 0.7em
 &__bottom
   background-color azul
   &--blue
     background-color azul !important
     padding 0
     +above(b2)
       &:after
         absolute left right
         border-color azul transparent transparent transparent
         border-style solid
         border-width 40px 40px 0 40px
         content " "
         height 0
         margin-left auto
         margin-right auto
         width 0
         +above(b3)
          border-width 60px 60px 0 60px
         +above(b4)
          border-width 70px 70px 0 70px


     .bubble
       &__right
         background-color #193F62
         height 320px
         overflow hidden
         +above(b2)
          background-color azul
          background-image none
          height 380px
          margin-bottom 2.5em
          a.btn--bubble
            top 53px

         +above(b3)
          height auto
          margin-bottom 1.8em
       &__center
         background-image none
         height auto
         top 27px
         figure
           margin-top 80px
           +above(b2)
            margin-top 0
            max-width 100%
            width 255px
           +above(b3)
            margin-top 0px
         +above(b2)
          top 0
         +above(b3)
          height auto
       .title--main
         font-size: 3.6em
         +above(b4)
           font-size 4.2em
       p
         margin-bottom 0.9em
         margin-top 0.5em
         padding 0

     +above(b3)
      padding 2em 0
      .btn--bubble
        top 50px
   +above(b2)
    background-color transparent
   +above(b3)
    margin 0
    width 100%
    &--blue
      background-color azul






   +above(b4)
    center-block(1140px)
    &--blue
      center-block(100%)


 +above(b2)
  background linear-gradient(top, 61% blanco, azul)
 +above(b3)
  background-image url("img/bg_header_tablet.png")
  background-position center center
  background-repeat no-repeat
  background-size 100% 100%
  height 100%
  height 750px
  relative top left
  z-index 1
  &--notimage
    background-image none
    height auto
    .header__top
      background blanco
    +above(b4)
      height auto !important

  +above(b4)
    height 690px

.logo
  overflow hidden
  width 260px
  +above(b2)
    float left
    margin 0.1em 0 0.55em 1em
  +above(b4)
    margin-top 0.2em
    width 305px

.offers
  background-color #ECECEC
  &__item
    background-color blanco
    border-radius 0 0 1em 1em
    center-block(98%)
    height 440px
    margin-bottom 2em
    max-width 320px
    position relative
    .title--offers
      color blanco
      padding 0.5em 0
    &:nth-child(1)
      margin-top 1em
      .title--offers
        background linear-gradient(left, 40% #F9AE00, #F39200)
    &:nth-child(2)
      height 350px
      .title--offers
        background linear-gradient(left, 40% #565B5D, #454A4B)
    &:nth-child(3)
      height 320px
      margin-bottom 1em
      .title--offers
        background linear-gradient(left, 40% #715200, #4F3900)
    ul
      padding 0.5em 0 1em
    li
      box-sizing border-box
      padding 0.2em 0
    +above(b2)
      display-inline-block()
      height 435px
      margin 0 1em 1em
      position absolute
      &:nth-child(1)
        absolute left 25.5% top
        margin-top 0
      &:nth-child(2)
        absolute left 2.3% bottom
        display block
      &:last-child
        absolute right 2.3% bottom
        height 350px
        margin-top 1em
    +above(b3)
      max-width 295px
      &:nth-child(1)
        height 440px
        margin-top 0
        relative left auto bottom auto
      &:nth-child(2)
        display-inline-block()
        height 440px
        relative left auto top auto
      &:last-child
        height 440px
        margin-top 0
        relative right auto bottom auto
    +above(b4)
      max-width 320px

  +above(b2)
    &__box
      height 840px
      position relative
      center-block(100%)
      max-width 745px
      +above(b3)
        height auto
        max-width 100%

.portfolio
  background-color #DFDFDF
  &--white
    background-color blanco
  &__box
    display none
    +above(b2)
      display block
      padding 1em
  +above(b2)
    &__item
      display-inline-block()
      margin 0.5em
      max-width 345px
      width 45%
  +above(b3)
    &__item
      max-width 22.4%
  +above(b4)
    &__item
      max-width 240px
  &__testimonials
    background-color gris_dark
    color gris_light
    margin 0 auto 0.5em
    h2
      margin 0
      padding 1em 0 0.5em

    &-item
      background-color gris_dark
      color blanco
      font-size 0.8em
      margin-bottom 1.5em
      padding 0.5em 1.5em
      text-align left

      figure
        center-block(240px)

        img
          border-radius 50%
          box-shadow: 3px 4px 11px negro

      &:last-child
        padding-bottom 2.5em
    +above(b2)
      background-color inherit
      color inherit
      max-width 757px
      padding 0 1em
      h2
        padding 0

      &-item
        display-inline-block()
        margin 0 0.5em
        margin 1.5em 0.5em
        min-height 210px
        padding 0
        width 46%
        figure
          float left
          height 100%
          margin 0
          margin 23px 0 0 8px
          width 18%
        figcaption
          float right
          padding 0 1em
          text-align left
          width 72%
        &:last-child
          padding-bottom 0
    +above(b3)
      max-width 100%
      &-item
        min-height 207px
        width 47%
        figure
          margin 20px
          padding inherit 1em
          width 24%
        figcaption
          margin 2px 22px 0 0
          padding 0
          width 62.5%
    +above(b4)
      max-width 1070px
      &-item
        min-height 180px
        figure
          width 25%

.price
  absolute left 25% bottom 2%
  color rojo
  font-family: kaushanscript-regular-webfont
  font-size 3em
  sup
    color negro
    font-family lora-regular-webfont
    font-size: 0.3em
    font-weight: bold
    margin-left 1em
    text-transform uppercase

.services
  overflow hidden
  &__information
    +above(b2)
      .text--yellow
        color blanco
  &__image
    margin 0 0 1em
    figure
      center-block(220px)
      +above(b2)
        height 370px
        width 490px
  &__item
    background-color blanco
    padding 2em 0 1.5em
    &--icon
      center-block(90%)
      margin-bottom 2.5em
      max-width 320px
      padding 0.5em
      figure
        center-block(70%)
      p
        color gris_dark
        margin 0 0 1.5em
      &:last-child
        margin-bottom 1em
      +above(b2)
        display-inline-block()
        margin 4% 2%
        width 42%



  +above(b3)
    &__information
      float right
      margin-right 2%
      margin-top 1%
      width 45%
      h2
        color blanco
        text-align left
      p
        margin-left 0
        text-align left
    &__image
      float left
      height 550px
      margin 0 1em
      overflow hidden
      width 48%
      figure
        center-block(345px)

.title
  font-family kaushanscript-regular-webfont
  font-weight normal
  margin 0.2em 0
  &--main
    font-size 2.6em
    line-height 1.2
  &--secundary
    font-family lora-regular-webfont
    font-size 1.2em
    margin 1.2em 0 0
  &--testimonials
    font-family lora-regular-webfont
    font-size 2em
    font-weight 500
    margin 0.5em 0 0em

.nav
  &__main
    position relative
    &-toggle
      background-color gris_light
      border 0
      color gris_dark
      cursor pointer
      font-size 1em
      height 40px
      padding 10px 5px
      position absolute
      right -5px
      top -50px
      width 50px

      &--bar
        background gris_dark
        border-radius 5px
        display block
        height 4px
        transition 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55)
        width 75%
        & + .nav__main-toggle--bar
            margin-top 4px
      &--active
          height 30px
          right 8px
          top -63px
          width 40px
          .nav__main-toggle--bar
              margin 0
              position absolute
              &:nth-child(1)
                  transform: rotate(45deg);
              &:nth-child(2)
                  opacity 0
              &:nth-child(3)
                  transform: rotate(-45deg);
    &-list
      background amarillo
      display none
      list-style none
      margin 0 0 10px
      padding 0
      position relative
      width 100%
      li
          border-bottom 1px solid azul
          border-right 0
          width 100%
          &:last-child
              border 0
          &:first-child
              a:after
                  border 6px solid transparent
                  border-bottom-color rojo
                  border-top 0
                  content ''
                  height 0
                  position absolute
                  right 1em
                  top -6px
                  width 0
          a
              color gris_dark
              display block
              font-family lora-regular-webfont
              font-size 1.3em
              padding: 8px 0;
              text-align center
              text-decoration none
              transition all .3s ease-in
              width: 100%;

              &:hover
                  background-color rojo
                  color blanco
      li.current-menu-item
        a
          background-color rojo
          border-color gris_dark
          color blanco

      &--open
          display block !important
          margin-top 1em !important
          .header__bottom--navegation
              &__child
                  display block
+above(b1)
  .nav
    &__main
      &-list
        margin 0
+above(b2)
  .nav
    &__main
      float right
      width calc(100%-150px)

      &-toggle
        display none
      &-list
        background transparent
        display block
        li
          border 0
          display-inline-block()
          overflow hidden
          width auto
          &:first-child
              a:after
                  display none
          a
            box-sizing border-box
            color primary_text
            display block
            font-size 1.3em
            margin 0.5em 0.1em
            padding 0.5em
            width auto
            &:hover
              border-bottom 1px solid azul
+above(b3)
  .nav
    &__main
      margin-top 0.6em
      &-list
        li
          a
            font-size 1.6em
            margin 0 0.1em
            padding 0.5em
            width auto
+above(b4)
  .nav
    &__main
      margin-top 0.8em




