// Fuentes personalizadas

for font-face in 'roboto-regular-webfont' 'stripefun-webfont'
    @font-face
        font-family font-face
        font-style normal
        font-weight normal
        src url("fonts"/font-face/font-face".eot")
        src: url("fonts"/font-face/font-face".eot?#iefix") format('embedded-opentype'),
             url("fonts"/font-face/font-face".woff") format('woff'),
             url("fonts"/font-face/font-face".ttf") format('truetype'),
             url("fonts"/font-face/font-face".svg#"font-face"") format('svg');




// icomoon

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon/icomoon.eot?1qyped');
    src:url('fonts/icomoon/icomoon.eot?1qyped#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?1qyped') format('truetype'),
        url('fonts/icomoon/icomoon.woff?1qyped') format('woff'),
        url('fonts/icomoon/icomoon.svg?1qyped#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
    content: "\e900";
}
.icon-twitter2:before {
    content: "\e901";
}
.icon-youtube3:before {
    content: "\e902";
}
.icon-github:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e904";
}

