// Fuentes personalizadas

for font-face in 'lora-regular-webfont' 'kaushanscript-regular-webfont'
    @font-face
        font-family font-face
        src url("fonts"/font-face/font-face".eot")
        src: url("fonts"/font-face/font-face".eot?#iefix") format('embedded-opentype'),
             url("fonts"/font-face/font-face".woff2") format('woff2'),
             url("fonts"/font-face/font-face".woff") format('woff'),
             url("fonts"/font-face/font-face".ttf") format('truetype'),
             url("fonts"/font-face/font-face".svg#"font-face"") format('svg');
        font-style normal
        font-weight normal


// icomoon



