section.contact.text--center.text--white#contactanos.padding--medium
    .max-width
        .contact-right
            .contact__form
                .contact__information
                    h2.title.title--main
                        | Queremos Saber de tí
                    p.text--important
                        | ¿Tienes un proyecto interesante? ¿Una gran idea por desarrollar? ¿No sabes mucho de la web pero deseas empezar? ¡Te ayudaremos!
                .contact__formulario
                    form(action="mailer.php",method="POST", class="form", id="ajax-contact")
                        .form__group
                            label(for="nombre") Nombre
                            input(type="text",name="nombre",class="form__control",id="nombre",placeholder="Nombre",required)
                        .form__group
                            label(for="correo") E-mail
                            input(type="email",name="correo",class="form__control",id="correo",placeholder="E-mail",required)
                        .form__group
                            label(for="telefono") Teléfono
                            input(type="text",name="telefono",class="form__control",id="telefono",placeholder="Teléfono",required)
                        .form__group
                            label(for="mensaje") Mensaje
                            textarea(name="mensaje", cols="30", rows="10",class="form__control",id="mensaje", placeholder="Mensaje",required)
                        .form__submit
                            input(type="submit",value="Enviar",class="btn btn--submit")

                        #form-messages
        .contact__image
            figure.sin-margin
                img(src="img/mascota_contacto.png",class="img-responsive", alt="Contactanos DiloDigital", width="520", height="880")
footer.footer.text-center
    figure.sin-margin
        img(src="img/logo_pie.png", class="img-responsive", alt="DiloDigital", width="300", height="70")
    a(href="mailto:hola@dilodigital.com", class="text--white text--center") hola@dilodigital.com


script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
script(src='js/main.js')
