header.header
    .header__top.max-width
        .logo
            a(href="#")
                img(src="img/logo.png",class="img-responsive", alt="Logo DiloDigital", width="610", height="140")
        nav.nav.nav__main
                button.nav__main-toggle
                    span.nav__main-toggle--bar
                    span.nav__main-toggle--bar
                    span.nav__main-toggle--bar
                ul.list-none.nav__main-list
                    li
                        a(href="index.html") Inicio
                    li
                        a(href="#") Blog
                    li
                        a(href="page-header.html") Servicios
                    li
                        a(href="#") Contacto
    .header__bottom
        .bubble
            .bubble__left.max-width
                h2.title.title--main.text--yellow.text--center Tienes mucho que decir. <span>¡Dilo en el</span> lugar correcto!
                p.text--white.text--center.text--important
                    | El mundo digital tiene mucho que ofrecer y estamos aqui para ayudarte a sacarle el maximo provecho. Contamos con <span class="text--yellow">Soluciones digitales 360° ideales para tu negocio</span>
            .bubble__right
                .bubble__center
                    figure.sin-margin
                        img(src="img/mascota_banner.png", class="img-responsive", alt="DiloDigital Contactanos", width="400", height="750")
                a(href="#", class="btn btn--submit btn--bubble") Contáctanos




