section.services.text--center
    div.max-width
        .services__information
            h2.title.title--main.text--yellow
                | ¿Qué hacemos?
            p.text--white.text--important.text--important--min
                |  Hicimos malabares y hasta un poco de magia para encontrar todas formas posibles que nos permitan hacer de tu negocio un éxito: Desarrollamos webs y aplicaciones móviles, creamos nuestros propios diseños y papelería, tomamos lindas fotografías, producimos divertidos vídeos promocionales y por último gestionamos una brillante campaña de Marketing Digital para convertirte así en la primera opción de miles de clientes que esperan por ti.
            a(href="page-header.html", class="btn btn--secundary")
                img(src="img/btn--servicios.png", alt="Boton Servicios", class="img-responsive")
        .services__image
            figure.sin-margin
                img(src="img/mascota_servicios.png", class="img-responsive", alt="Servicios DiloDigital" , width="690" , height="880")
section.offers.bg--gris-light.text--center.padding--medium
    div.max-width
        h2.title.title--main
            | Ofertas Navideñas
        p.text--important.text--important--min
            | Tenemos estos bonitos paquetes para ti, escoge el que más te guste desde un economico pero funcional PLATA hasta un más completo y exclusivo ORO.
        ul.offers__box.list-none.sin-margin
            li.offers__item
                h3.title.title--main.title--offers Oro
                ul.list-none.sin-margin
                    li Plan de Marketing Digital
                    li Diseño Responsive
                    li Creación de tema para WordPress
                    li Blog
                    li Optimización SEO
                    li Portada One Page
                    li 5 Landing Page
                    li Video Promocional (30 Seg)
                span.price 2.500 <sup>usd</sup>
            li.offers__item
                h3.title.title--main.title--offers Plata
                ul.list-none.sin-margin
                    li Diseño Responsive
                    li Creación de tema para WordPress
                    li Optimización SEO
                    li Portada One Page
                    li 3 Landing Page
                span.price 1.500 <sup>usd</sup>
            li.offers__item
                h3.title.title--main.title--offers Bronce
                ul.list-none.sin-margin
                    li Diseño Responsive
                    li Optimización SEO
                    li Portada One Page
                    li 5 landing Page
                span.price 1.000 <sup>usd</sup>
section.portfolio.bg--gris-medium.text--center.padding--medium
    article.portfolio__box.max-width
        h2.title.title--main
            | Nuestros Trabajos
        p.text--important
            | Nuestras recomendaciones estan en la calle, puedes preguntar quien es DiloDigital y ya te daran nuestras referencias , y si eso no basta mira nuestros ultimos trabajos

        .portfolio__item
            a(href="http://aprendiendoando.com/", target="_blank")
                img(src="img/aprendiendo.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
        .portfolio__item
            a(href="http://arawanaperu.com/", target="_blank")
                img(src="img/arawana.png", class="img-responsive", alt="arawana", width="328", height="288")
        .portfolio__item
            a(href="http://arborizaciones.com/", target="_blank")
                img(src="img/arborizaciones.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
        .portfolio__item
            a(href="http://www.chas.pe/", target="_blank")
                img(src="img/chas.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
        .portfolio__item
            a(href="http://www.mimarpuven.com/", target="_blank")
                img(src="img/mimarpuven.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
        .portfolio__item
            a(href="http://negritafilms.com/", target="_blank")
                img(src="img/negrita.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
        .portfolio__item
            a(href="http://www.recoinsa.com/", target="_blank")
                img(src="img/recoinsa.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
        .portfolio__item
            a(href="#", target="_blank")
                img(src="img/trazo.png", class="img-responsive", alt="Aprendiendoando", width="328", height="288")
    article.portfolio__testimonials.padding--min
        h2.title.title--main
            | Ellos nos recomiendan

        .portfolio__testimonials-item
            figure.sin-margin
                img(src="img/aaron.png",class="img-responsive", alt=val , width="460" , height="460")
            figcaption.text--center
                h3.title.title--testimonials Aaron Romero
                span.title.title--secundary CEO Founder: Creative Dream
                p
                    | Excelente servicio, 100% orientado a las necesidades del cliente. Se integran más allá de las necesidades, para llegar a una solución robusta.

        .portfolio__testimonials-item
            figure.sin-margin
                img(src="img/hussam.png",class="img-responsive", alt=val , width="460" , height="460")
            figcaption.text--center
                h3.title.title--testimonials Hussam Sufan
                span.title.title--secundary CEO Founder: "Yo te enseño tu me enseñas"
                p
                    | Dilo Digital es una agencia capaz de comprender, analizar y difundir tendencias de manera inteligente, pudiendo comunicar efectivamente el propósito a través de una nueva mentalidad digital.












