section.services.services__item.text--center
    div.max-width
        each val in ["img/web.png", "img/mkt_digital.png", "img/movil.png", "img/design.png", "img/fotografia.png", "img/pop.png"]
            .services__item--icon
                figure.sin-margin
                    img(src=val, class="img-responsive", alt=val, height="390", width="390")
                h4.title.title--secundary Diseño Web
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean commodo ligula eget dolor.
                a(href="#", class="btn btn--readmore") Leer más
section.portfolio.portfolio--white.text--center
    article.portfolio__testimonials
        h2.title.title--main
            | Ellos nos recomiendan

        .portfolio__testimonials-item
            figure.sin-margin
                img(src="img/aaron.png",class="img-responsive", alt=val , width="460" , height="460")
            figcaption.text--center
                h3.title.title--testimonials Aaron Romero
                span.title.title--secundary CEO Founder: Creative Dream
                p
                    | Excelente servicio, 100% orientado a las necesidades del cliente. Se integran más allá de las necesidades, para llegar a una solución robusta.

        .portfolio__testimonials-item
            figure.sin-margin
                img(src="img/hussam.png",class="img-responsive", alt=val , width="460" , height="460")
            figcaption.text--center
                h3.title.title--testimonials Marcelo Contreras
                span.title.title--secundary Creador y promotor: Marca Chilito
                p
                    | Dilo Digital es una agencia capaz de comprender, analizar y difundir tendencias de manera inteligente, pudiendo comunicar efectivamente el propósito a través de una nueva mentalidad digital.












