section.services.services__item.text--center
    div.max-width
        .services__item--icon
            figure.sin-margin
                img(src="img/web.png", class="img-responsive", alt="Diseño Web", height="390", width="390")
            h4.title.title--secundary Desarrollo Web
            p Construyamos juntos un sitio web de impacto orientado completamente al exito de tu negocio.
                //- a(href="#", class="btn btn--readmore") Leer más
        .services__item--icon
            figure.sin-margin
                img(src="img/mkt_digital.png", class="img-responsive", alt="Diseño Web", height="390", width="390")
            h4.title.title--secundary Marketing Digital
            p Se un lider en la web y conviertete en la primera opción de miles de clientes que estan esperando por ti.
                //- a(href="#", class="btn btn--readmore") Leer más
        .services__item--icon
            figure.sin-margin
                img(src="img/movil.png", class="img-responsive", alt="Diseño Web", height="390", width="390")
            h4.title.title--secundary Desarrollo Móvil
            p Desarrollamos aplicaciones nativas para IOS y Android. Podemos hacer realidad tu proyecto móvil.
                //- a(href="#", class="btn btn--readmore") Leer más
        .services__item--icon
            figure.sin-margin
                img(src="img/design.png", class="img-responsive", alt="Diseño Web", height="390", width="390")
            h4.title.title--secundary Diseño Publicitario
            p Creamos identidad para tu marca a tráves de diseños atractivos y modernos.
                //- a(href="#", class="btn btn--readmore") Leer más
        .services__item--icon
            figure.sin-margin
                img(src="img/fotografia.png", class="img-responsive", alt="Diseño Web", height="390", width="390")
            h4.title.title--secundary Fotografia
            p Consigue fotografias de gran calidad que proyecten la mejor imagen de tu negocio y tus productos.
                //- a(href="#", class="btn btn--readmore") Leer más
        .services__item--icon
            figure.sin-margin
                img(src="img/video.png", class="img-responsive", alt="Diseño Web", height="390", width="390")
            h4.title.title--secundary Videos Promocionales
            p Nada mejor para enganchar a un cliente que con un atractivo video que informe e impacte
                //- a(href="#", class="btn btn--readmore") Leer más
section.portfolio.portfolio--white.text--center.padding--medium
    article.portfolio__testimonials
        h2.title.title--main
            | Ellos nos recomiendan

        .portfolio__testimonials-item
            figure.sin-margin
                img(src="img/aaron.png",class="img-responsive", alt=val , width="460" , height="460")
            figcaption.text--center
                h3.title.title--testimonials Aaron Romero
                span.title.title--secundary CEO Founder: Creative Dream
                p
                    | Excelente servicio, 100% orientado a las necesidades del cliente. Se integran más allá de las necesidades, para llegar a una solución robusta.

        .portfolio__testimonials-item
            figure.sin-margin
                img(src="img/hussam.png",class="img-responsive", alt=val , width="460" , height="460")
            figcaption.text--center
                h3.title.title--testimonials Marcelo Contreras
                span.title.title--secundary Creador y promotor: Marca Chilito
                p
                    | Dilo Digital es una agencia capaz de comprender, analizar y difundir tendencias de manera inteligente, pudiendo comunicar efectivamente el propósito a través de una nueva mentalidad digital.












