<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title DiloDigital
    link(rel="icon",type="image/png",href="favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Hicimos malabares y hasta un poco de magia para encontrar todas formas posibles que nos permitan hacer de tu negocio un éxito: Desarrollamos webs y aplicaciones móviles, creamos nuestros propios diseños y papelería, tomamos lindas fotografías, producimos divertidos vídeos promocionales y por último gestionamos una brillante campaña de Marketing Digital para convertirte así en la primera opción de miles de clientes que esperan por ti.")
    //- Metas Redes Sociales
    meta(property="og:locale",content="es_ES")
    meta(property="og:type",content="website")
    meta(property="og:title",content="DiloDigital")
    meta(property="og:description",content="Hicimos malabares y hasta un poco de magia para encontrar todas formas posibles que nos permitan hacer de tu negocio un éxito: Desarrollamos webs y aplicaciones móviles, creamos nuestros propios diseños y papelería, tomamos lindas fotografías, producimos divertidos vídeos promocionales y por último gestionamos una brillante campaña de Marketing Digital para convertirte así en la primera opción de miles de clientes que esperan por ti.")
    meta(property="og:url",content="http://www.dilodigital.com/")
    meta(property="og:site_name",content="DiloDigital")
    meta(property="og:image", content="http://www.dilodigital.com/blog/wp-content/uploads/2016/01/logo.png")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content="DiloDigital")
    meta(name="twitter:image", content="http://www.dilodigital.com/blog/wp-content/uploads/2016/01/logo.png")
    //- Autor
    link(type="text/plain",rel="author",href="humans.txt")
    //- Estilos
    link(rel="stylesheet", href="style.css")
body
    include header-other.jade
    include section-services.jade
    include footer.jade